<% layout('layouts/bolierplate') %> 
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" novalidate class="validated-form">
                <div class="mb-3" >
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        That's right!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        That's right!
                    </div>
                </div>
            
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="campground[image]" required>
                    <div class="valid-feedback">
                        That's right!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" aria-label="price-input" placeholder="0.0" name="campground[price]" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]" required > </textarea>
                    <div class="valid-feedback">
                        That's right!
                    </div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success" >Add Campground</button>
                </div>
                
                <div>
                    <a href="/campgrounds/">All Campgrounds</a>
                </div>
            </form>
        </div>
    </div>

<script>
// Bootstrap  form validation
(function () {
  'use strict'
  const forms = document.querySelectorAll('.validated-form')
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>