body {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("https://imgcache.dealmoon.com/thumbimg.dealmoon.com/dealmoon/bd1/c32/35d/83e9e5148387573304cb4f7.jpg_1280_1280_3_b331.jpg");
	background-size: cover;
	background-position: center;
	text-shadow: 0, 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
	max-width: 60vw;
}

.nav-link {
	padding: 0.25rem 0;
	color: rgba(255, 255, 255, 0.5);
	margin-left: 1em;
	border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
	color: rgba(255, 255, 255, 0.5);
	border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
	color: white;
	border-bottom-color: white;
}

.btn-secondary,
.btn-secondary:hover {
	color: #333;
	text-shadow: none;
}
